textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.token {
    display: none;
    visibility: hidden;
    color: transparent;
    width: 0;
    height: 0;
}

.hover-primary:hover {
    background: #0d6efd;
    color: white;
}

.hover-light:hover {
    background: #f8f9fa!important;
}